.weather-form{
    $field_height: 50px;
    display: flex;
    @media(max-width: $sm){
        flex-direction: column;
    }

    &__field, &__button{
        height: $field_height;
        box-sizing: border-box;

        &:focus{
            outline: 0;
            border-width: 0;
        }
    }

    &__field{
        padding: 10px;
        font-size: 1.3em;
        border-width: 0;

       
    }

    &__button{
        background-color: $primary_color;;
        border-radius: 0;
        color: white;
        border-width: 0;
        padding: 10px 20px;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
    }
}
